# Data Fetching

Importing snscrape module to fetch tweets from Twitter

In [125]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [126]:
# Creating list to append tweet data to
tweets_list_japanese = []
# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('covid19 lang:ja since:2020-06-01 until:2020-06-10').get_items()):
    if i>999:
        break
    tweets_list_japanese.append([tweet.content, tweet.lang])
# Creating a dataframe from the tweets list above
    
tweets_df_ja = pd.DataFrame(tweets_list_japanese, columns=['Text', 'lang'])

In [127]:
tweets_df_ja

                                                  Text lang
0    #モーニングショー \nクラスター対策 … 濃厚接触者の追跡に過ぎないので … \n対策と呼...   ja
1    AKB48（日本）\nJKT48（インドネシア）\nBNK48（タイ）\nTPE48（台湾）...   ja
2    ＜全世界＞\n感染者数：7,311,526\n死者数：413,011\n退院者数：3,594...   ja
3    #インド工科大学ハイテラバード校 @IITHyderabadと @IndiaBARC は、#...   ja
4    「昼間の都市部の人口が郊外に移っていく」「1カ所でまとめ買いができるワンストップ機能が重要」...   ja
..                                                 ...  ...
995  【メディア】\nなぜ精密な定量検査が必要なのか、簡易検査キットと定量検査の結果にはなぜ差異が...   ja
996  Jack Ma氏がCOVID19の件でアフリカと協業している。さすが、孫さんに見切りをつけ、...   ja
997  ［新型コロナ ］ 「地域医療の要」患者激減 JA病院 窮地 収入4割減「救済策を」 相模原協...   ja
998  石田純一、新型コロナ 快気祝いで「よろよろ千鳥足」 #新型肺炎 #コロナ #新型コロナ #新...   ja
999  ファミレス「ジョイフル」約200店舗閉店へ コロナ 影響 #新型肺炎 #コロナ #新型コロナ...   ja

[1000 rows x 2 columns]

In [128]:
tweets_list_english = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('covid19 lang:en since:2020-06-01 until:2020-06-10').get_items()):
    if i>999:
        break
    tweets_list_english.append([tweet.content, tweet.lang])
    
tweets_df_en = pd.DataFrame(tweets_list_english, columns=[ 'Text', 'lang'])

In [129]:
#tweets_df_en

In [130]:
tweets_list_german = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('covid19 lang:de since:2020-06-01 until:2020-06-10').get_items()):
    if i>999:
        break
    tweets_list_german.append([tweet.content, tweet.lang])
    
tweets_df_de = pd.DataFrame(tweets_list_german, columns=[ 'Text', 'lang'])

In [131]:
#tweets_df_de

In [132]:
tweets_list_hindi = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('covid19 lang:hi since:2020-06-01 until:2020-06-10').get_items()):
    if i>999:
        break
    tweets_list_hindi.append([tweet.content, tweet.lang])
    
tweets_df_hi = pd.DataFrame(tweets_list_hindi, columns=['Text', 'lang'])

In [133]:
tweets_list_french = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('covid19 lang:fr since:2020-06-01 until:2020-06-10').get_items()):
    if i>999:
        break
    tweets_list_french.append([tweet.content, tweet.lang])
    
tweets_df_fr = pd.DataFrame(tweets_list_french, columns=[ 'Text', 'lang'])

In [134]:
tweets_list_spanish = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('covid19 lang:es since:2020-06-01 until:2020-06-10').get_items()):
    if i>999:
        break
    tweets_list_spanish.append([tweet.content,  tweet.lang])
    
tweets_df_es = pd.DataFrame(tweets_list_spanish, columns=['Text', 'lang'])

In [135]:
tweets_list_chinese = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('covid19 lang:zh-cn since:2020-06-01 until:2020-07-10').get_items()):
    if i>999:
        break
    tweets_list_chinese.append([ tweet.content, tweet.lang])
    
tweets_df_zh = pd.DataFrame(tweets_list_chinese, columns=[ 'Text', 'lang'])

Creating a single list to store all the tweets of different languages

In [136]:
frames = [tweets_df_ja, tweets_df_en, tweets_df_de, tweets_df_hi, tweets_df_fr, tweets_df_es, tweets_df_zh]

data_twitter = pd.concat(frames)

In [137]:
data_twitter.head()

                                                Text lang
0  #モーニングショー \nクラスター対策 … 濃厚接触者の追跡に過ぎないので … \n対策と呼...   ja
1  AKB48（日本）\nJKT48（インドネシア）\nBNK48（タイ）\nTPE48（台湾）...   ja
2  ＜全世界＞\n感染者数：7,311,526\n死者数：413,011\n退院者数：3,594...   ja
3  #インド工科大学ハイテラバード校 @IITHyderabadと @IndiaBARC は、#...   ja
4  「昼間の都市部の人口が郊外に移っていく」「1カ所でまとめ買いができるワンストップ機能が重要」...   ja

In [138]:
data_twitter1 = data_twitter.sample(frac = 1)

In [139]:
data_twitter1

                                                  Text lang
699  #thethirdpath author @DrDavidTranter will be h...   en
656  🇵🇭 LATEST: #Philippines reports 1,531 new case...   zh
141  @MediaGuido @rrwholloway Momentum Labour and t...   en
197  दिनाक 5 जून के अमर उजाला में यह खबर छपी थी। इस...   hi
685  管材制造商Tubi Limited（ASX：2BE）在Covid-19大流行期间完成管材大批...   zh
..                                                 ...  ...
701  @RajGovOfficial #नर्स_ग्रेड_2_भर्ती_2018_मे_पद...   hi
616  コロナ感染者/死者数（6/09 2）\n\n長崎県 17人/1人\n宮崎県 17人/0人\n...   ja
582  #新型肺炎 #新型コロナウイルス #COVID19 #疫病 #感染症 #ソーシャルディスタン...   ja
193  @AxiomCatwalk I'm not going anywhere soon. #CO...   en
301  #HK 香港本地疫情在沉寂几十天后突然出现大量本地感染病例，医院/小学/养老中心/食肆都有涉...   zh

[7000 rows x 2 columns]

# Data Pre-Processing

In [140]:
import string
for char in string.punctuation:
    print(char, end=" ")
translate_table = dict((ord(char), "") for char in string.punctuation)

! " # $ % & ' ( ) * + , - . / : ; < = > ? @ [ \ ] ^ _ ` { | } ~

In [141]:
import re
import sys

def remove_emoji(string):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               "\U0001F700-\U0001F77F"  # alchemical symbols
                               "\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
                               "\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
                               "\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
                               "\U0001FA00-\U0001FA6F"  # Chess Symbols
                               "\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
                               "\U0001F6A8"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

def remove_hyperlinks(stringliteral):
    hyperlinks_remove = re.sub(r'http\S+', '', stringliteral)
    return hyperlinks_remove

In [142]:
import re
data_eng =[]
lang_eng =[]
for i,line in tweets_df_en.iterrows():

    line = line['Text']
    if len(line) != 0:
        line = line.lower()
        line = re.sub(r'http\S+', '', line)
        line = re.sub(r"\d+","",line)
        line = line.translate(translate_table)
        line = remove_emoji(line)
        data_eng.append(line)
        lang_eng.append("English")

In [143]:
data_de =[]
lang_de =[]
for i,line in tweets_df_de.iterrows():
    line = line['Text']
    if len(line) != 0:
        line=line.lower()
        line = re.sub(r'http\S+', '', line)
        line = re.sub(r"\d+","",line)
        line = line.translate(translate_table)
        line = remove_emoji(line)
        data_de.append(line)
        lang_de.append("German")

In [144]:
data_ja =[]
lang_ja= []
for i,line in tweets_df_ja.iterrows():
    line = line['Text']
    if len(line) != 0:
        line = line.lower()
        line = re.sub(r'http\S+', '', line)
        line = re.sub(r"\d+","",line)
        line = re.sub(r"[a-zA-Z]+", "",line)
        line = line.translate(translate_table)
        line = remove_emoji(line)
        data_ja.append(line)
        lang_ja.append("Japanese")

In [145]:
data_es =[]
lang_es= []
for i,line in tweets_df_es.iterrows():
    line = line['Text']
    if len(line) != 0:
        line=line.lower()
        line = re.sub(r'http\S+', '', line)
        line = re.sub(r"\d+","",line)
        line = line.translate(translate_table)
        line = remove_emoji(line)
        data_es.append(line)
        lang_es.append("Spanish")

In [146]:
data_fr =[]
lang_fr= []
for i,line in tweets_df_fr.iterrows():
    line = line['Text']
    if len(line) != 0:
        line=line.lower()
        line = re.sub(r'http\S+', '', line)
        line = re.sub(r"\d+","",line)
        line = line.translate(translate_table)
        line = remove_emoji(line)
        data_fr.append(line)
        lang_fr.append("French")

In [147]:
data_zh =[]
lang_zh= []
for i,line in tweets_df_zh.iterrows():
    line = line['Text']
    if len(line) != 0:
        line = line.lower()
        line = re.sub(r'http\S+', '', line)
        line = re.sub(r"\d+","",line)
        line = re.sub(r"[a-zA-Z]+", "",line)
        line = line.translate(translate_table)
        line = remove_emoji(line)
        data_zh.append(line)
        lang_zh.append("chinese")

In [148]:
data_hi =[]
lang_hi= []
for i,line in tweets_df_hi.iterrows():
    line = line['Text']
    if len(line) != 0:
        line = line.lower()
        line = re.sub(r'http\S+', '', line)
        line = re.sub(r"\d+","",line)
        line = re.sub(r"[a-zA-Z]+", "",line)
        line = line.translate(translate_table)
        line = remove_emoji(line)
        data_hi.append(line)
        lang_hi.append("Hindi")

In [149]:
df_data = pd.DataFrame({"Text":data_eng+data_de+data_ja+data_es+data_fr+data_zh+data_hi, "Language":lang_eng+lang_de+lang_ja+lang_es+lang_fr+lang_zh+lang_hi})

In [150]:
df_data

                                                   Text Language
0     we visited the george floyd funeral in houston...  English
1     usa florida  thomas paladino  scalar light res...  English
2     very humbled to share this press release about...  English
3      pregnancy yoga exercises for the last trimest...  English
4     if you are a star wars fan like i am you know ...  English
...                                                 ...      ...
6995  ज्योतिरादित्य सिंधिया  और उनकी मां का कोरोना ट...    Hindi
6996   में बढ़ता जा रहा है खतरा टेस्ट में हर चौथा शख...    Hindi
6997  ज्योतिरादित्य सिंधिया और उनकी मां अस्पताल में ...    Hindi
6998  हरियाणा सरकार ने  प्रबंधों का निरीक्षण एवं समी...    Hindi
6999  तुम फंड का हिसाब मांगो\nहम  पर वर्चुअल रैली कर...    Hindi

[7000 rows x 2 columns]

# Splitting Data into training and testing

In [151]:
import pandas as pd
from sklearn.model_selection import train_test_split
train, test = train_test_split(df_data, test_size=0.3, random_state=42, shuffle=True)
train_df = pd.DataFrame(train)
test_df  = pd.DataFrame(test)
print(train_df.shape)
print(test_df.shape)

(4900, 2)
(2100, 2)

In [152]:
test_df

                                                   Text  Language
6500      देखिए कोविड बुलेटिन       \n     \n        \n     Hindi
2944                                      新しい生活様式とかつらみ   Japanese
2024      人目感染は留置の代少年   \n山梨県甲府市\n新型肺炎・コロナウイルス感染症\n \n人  Japanese
263   what jobs matter during the covid crisis  iops...   English
4350  heureusement quon reparle en noir et blanc le ...    French
...                                                 ...       ...
5945   当全球卫生危机出现时，美国不会等待召唤；我们装作什么都没发生。\n我们以诈捐和制裁的方式作...   chinese
1630  visited unacco school at meitram imphal west\n...    German
4043  ⚠urgent \nle centre hospitalier de cayenne a b...    French
1881  richardmetfan sebastiankurz lufthansa gilt für...    German
4679  zohrabitan lhypocrisie des français à son paro...    French

[2100 rows x 2 columns]

# Classification

In [153]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

from sklearn.pipeline import Pipeline

x=train_df.iloc[:,0]
y=train_df.iloc[:,1]
vectorizer = TfidfVectorizer(ngram_range = (1,3), analyzer = 'char')
pipe_line_knn  = Pipeline([('Vectorizer', vectorizer),('clf',KNeighborsClassifier())])

In [154]:
pipe_line_knn.fit(x,y)

Pipeline(steps=[('Vectorizer',
                 TfidfVectorizer(analyzer='char', ngram_range=(1, 3))),
                ('clf', KNeighborsClassifier())])

In [155]:
y_predicted = pipe_line_knn.predict(test_df.iloc[:,0])

In [156]:
y_predicted

array(['Hindi', 'Japanese', 'Japanese', ..., 'French', 'German', 'French'],
      dtype=object)

In [157]:
test_df.iloc[:,0]

6500        देखिए कोविड बुलेटिन       \n     \n        \n
2944                                        新しい生活様式とかつらみ
2024        人目感染は留置の代少年   \n山梨県甲府市\n新型肺炎・コロナウイルス感染症\n \n人
263     what jobs matter during the covid crisis  iops...
4350    heureusement quon reparle en noir et blanc le ...
                              ...
5945     当全球卫生危机出现时，美国不会等待召唤；我们装作什么都没发生。\n我们以诈捐和制裁的方式作...
1630    visited unacco school at meitram imphal west\n...
4043    ⚠urgent \nle centre hospitalier de cayenne a b...
1881    richardmetfan sebastiankurz lufthansa gilt für...
4679    zohrabitan lhypocrisie des français à son paro...
Name: Text, Length: 2100, dtype: object

In [158]:
from sklearn import metrics

matrix = metrics.confusion_matrix(test_df.iloc[:,1],y_predicted)
crosstab_result = pd.crosstab(y_predicted,test_df.iloc[:,1])

In [159]:
print(crosstab_result)

Language  English  French  German  Hindi  Japanese  Spanish  chinese
row_0
English       304       4       9      0         0        0        0
French          2     286       1      0         0        0        0
German          1       0     308      1         0        0        0
Hindi           0       0       0    287         4        0        7
Japanese        0       0       0      0       288        0        4
Spanish         2       2       1      0         0      303        0
chinese         0       0       0      0         2        0      284

In [160]:
import numpy as np

TP = np.sum(np.diag(crosstab_result))
TP/test_df.shape[0]

0.9809523809523809

# Creating pickle file

In [161]:
import pickle

In [162]:
with open('model_pickle','wb') as f:
    pickle.dump(pipe_line_knn,f)